.hero-section{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    color: white;

}

.spline{
    flex-direction: column;
    box-shadow: 
        inset 0 0 50px rgba(0, 0, 0, 0.5),
        inset 0 0 100px rgba(0, 0, 0, 0.5),
        inset 0 0 200px rgba(0, 0, 0, 0.5);
}
  
.hero-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 6%;
    left: 0;
    right: 0;
    gap: 16px;
    color: white;
}

.new-tag{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: green;
    border-radius: 65px;
    font-size: 11px;
    color: white;
}

.hero-title{
    font-size: 25px;
    color: white;
    
}

.hero-buttons{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.trial-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(54, 54, 54);
    border-radius: 65px;
    font-size: 11px;
}

.explore-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(23, 23, 23);
    border-radius: 65px;
    font-size: 11px;
}

